apiVersion: apps/v1
kind: Deployment
metadata:
  name: gatus
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gatus
  template:
    metadata:
      labels:
        app: gatus
    spec:
      containers:
      - name: gatus
        image: twinproduction/gatus@sha256:98e144a6fccc066152912b500c55677ab3442c1a54806be587190afe008adf4c
        ports:
        - containerPort: 8080
        env:
        - name: DISCORD_WEBHOOK_URL
          valueFrom:
            secretKeyRef:
              name: gatus-alerting-creds
              key: DISCORD_WEBHOOK_URL
        volumeMounts:
        - name: config
          mountPath: /config
        resources:
          limits:
            cpu: 100m
            memory: 128Mi
          requests:
            cpu: 50m
            memory: 64Mi
      volumes:
      - name: config
        configMap:
          name: gatus-config
