apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../../../base/monitoring/gatus/base
  - ingress.yaml
  - configmap.yaml

# Suffix handled by namePrefix/Suffix
nameSuffix: -public

patches:
  - target:
      kind: Deployment
      name: gatus
    patch: |-
      - op: replace
        path: /spec/template/spec/volumes/0/configMap/name
        value: gatus-config-public
  - target:
      kind: Ingress
      name: gatus
    patch: |-
      - op: replace
        path: /spec/rules/0/http/paths/0/backend/service/name
        value: gatus-public

commonLabels:
  app: gatus-public
  environment: production
