apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../../../base/monitoring/gatus/base
  - ingress.yaml
  - configmap.yaml

# Suffix handled by namePrefix/Suffix
nameSuffix: -public

commonLabels:
  app: gatus-public
