---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  creationTimestamp: null
  name: alertmanager-config
  namespace: monitoring
spec:
  encryptedData:
    alertmanager.yaml: AgCzLagrEAw9KBMz9/MakRDTfwNpJvRJb4wb61uFbAYMM7+2lqRhQgdAVXQb7BqoFdSYuCnKUy6k4jLix0Ch3GYU0Q7LKxXk/ImNqLIG8Hsm13mk8GBgSRdo+tkC4LLzKujYiwbwOTDCN8EkgM768rXKvx3xX+I8hN+yGaa98Sdl/fhIVoyCX7w05WgBn7zhyubrifspPhIHumEz/Dfn1JM5Akb7GBy9vnaQa/+ZefB+48j4+VPPEHmq3WnIU1tTQVr+amKNGVBVaZoD7AmWa5Cpps+86Of+mIuma4tEvWtnRtG2vWC7+tbDnNPkmLe2TTaYZf/x9bUIN2JrTXtqAnJRtWI41AIc0ws0/YRZRXJcw6tNTQM1znAuwtfNEeV0VX4KVn8XXNFU13VHJirXHUWHIanPRoDt0P/I0RYJfoV7DFJti8z/GVS/ObL5JZlfINdCXQi0JeIj/rYxFWJIvo6exlV8dj0wwZdREf8nuZHtwiilN4lom1ZDLCzbz8IYKykGobHtKlq28KO05sd47HpFFx8x1i8bSRWmmYy4JU4PD9vTYAP7UU5qPSxokWABGzZ+asRyJpnL9xu9OwbFP//WHJfmXc0QK+a97HBR5oNFYst2R2XGNndUhdV7UYgjeYNA4mIzfZcKFhd18xV+EQy82ZOQOdzZMOk9NINYnVMQRpRaj2/Gouqu7VxUQj3Kh5IhdDfZcr3WHpHFPiu5mUMIUfmpRvfa1xzbeEx1sYiQfGt05t8aQTS+M+R1qaBcpN1evwDau8rAF/AQj/LBdgK5VEGcMjErVZK0MdynEgdmQpPENQ+xr2O37FPRxksPXZCy0s3Rx7ScBUTQVNrEUizqPu5T7vjnvB+1ZrDNNMVoa8nvVaQqSe/uhoHodnKII6BTOYl+q1F/1kyfNwlpfSPr4tjLpmI77KeVgzNJg08HfLtvw+XRMIoUD/aM+5MB5yFzWzyWz3FXNSJ1aKNA01rmPnbExTToJVekh2Vhd5tkT1ZJeYjERMBXUW6clWOSMD25neVs1es1PRoSj4iBUF+gUTPcuzAsrSia7lVf4wk1eioSyqs3eOK+PECdaIUjeVSc48pfUpOFchwxDgJYc4iDvjjhXIyh1QT9+nAqnVXas/mDxPrZveZewev5/6fFrMTbDR42lAAe1kv6JQwZTGxhYzWgsS8UuBEiC4BeIPjfWvd2vI3Xd4FpbLgtijEM601xxBOpwJbI04kLX79TWLls3r3rflZ2XuKnZY1Rl+7ssvuaSQJrlmymIpnk7lVh
  template:
    metadata:
      creationTimestamp: null
      name: alertmanager-config
      namespace: monitoring
